/* src/font/font.css */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
/* @font-face {
    font-family: 'NotoSansKR';
    src: local('NotoSansKR'), url('../fonts/NotoSansKR-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  } */
  